<div class="col-md-12" style="padding: 10px">
				Task Name: <input ng-model="taskName"></input>
				<span ng-click="addTask()" class="btn btn-primary">Add</span>
			</div>
			<div class="col-md-12 bg-info">
				<h3>Tasks:</h3>
				<ul>
					<li style="padding: 2px" ng-repeat="task in tasks track by $index">
						<span class="col-md-5">{{task}}</span>
						<span ng-click="removeTask($index)" class="btn btn-danger">Delete</span>
					</li>
				</ul>
			</div>